* {
  font-family: Verdana;
}


app {
	display: block;
	margin-left: 10px;
}


app name {
	font-size: 30;
	font-weight: bold;
}

app panels {
	display: block;
	margin-left: 30px;
}

panel {
	display: block;
	margin-left: 30px;
}

panel name {
	font-size: 16;
	font-weight: normal;
	background-color: #dfe;
}

tab {
	display: block;
	margin-left: 40px;
}

tab name {
	font-size: 10;
	background-color: #def;
}

elem {
	display: block;
	margin-left: 40px;
}

elem name {
	font-size: 10;
	background-color: #efd;
}

elem info {
	font-size: 8;
	background-color: #987;
}